<p id="notice"><%= notice %></p>

<h1>Prestationtypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestationtypes.each do |prestationtype| %>
      <tr>
        <td><%= prestationtype.name %></td>
        <td><%= link_to 'Show', prestationtype %></td>
        <td><%= link_to 'Edit', edit_prestationtype_path(prestationtype) %></td>
        <td><%= link_to 'Destroy', prestationtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prestationtype', new_prestationtype_path %>
