<div class="card-header  bg-transparent border-success"><h3>Choisir une photo de profile</h3><span onclick="off(event);return false;" class="close">&times;</span></div>

      <div class="d-flex align-items-center row row-cols-3 row-cols-md-3 g-4">
          <%current_user.imagesimportees.each do |image|%>
  <div class="col  d-flex align-items-center">
    <div class="card">
        <%= link_to "", data: {imageid: image.id}, onclick: "chosemyphoto(event);return false;" do %>
      <img src="<%=image.name%>" width="100" height="100" class="card-img-top" alt="<%=current_user.fullname%> photos">
      <%end%>
    </div>
  </div>
          <%end%>
      </div>
      
      
      <script>
        function chosemyphoto(e) {
          console.log(e.target.parentElement);
          console.log(e.target.parentElement.dataset.imageid);
        $.ajax({url:'<%=chosemyppic_path%>?imageid='+String(e.target.parentElement.dataset.imageid),
            success:function(data){$('.myformpost').html(data);}
      });
        return false;
        }
        function mylandscape(e) {
                  var formData = new FormData($('.mylandscapephotos')[0]);
                          event.preventDefault();
          $.ajax({processData: false,data:formData,
            contentType: false,
url:'<%=updateinfo_path(current_user ? current_user.id : @user.id)%>?cancel=true&view=myphotos',type:'post',success:function(data){$('.photocontainer').html(data);},complete:function(){ $('.close').click();}});
        return false;
      }
        function mylandscape2(e) {
                  var formData = new FormData($('.myphotos')[0]);
                          event.preventDefault();
          $.ajax({processData: false,
            data:formData,
            contentType: false,url:'<%=updateinfo_path(current_user ? current_user.id : @user.id)%>?cancel=true&view=myphotos',type:'post',success:function(data){$('.photocontainer').html(data);},complete:function(){ $('.close').click();}});
        return false;
      }
      </script>