<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bar_a_ongle.name %>
</p>

<p>
  <strong>Prestation info:</strong>
  <%= @bar_a_ongle.prestation_info_id %>
</p>

<p>
  <strong>Prestationtype:</strong>
  <%= @bar_a_ongle.prestationtype_id %>
</p>

<p>
  <strong>Prestationtypecolumn:</strong>
  <%= @bar_a_ongle.prestationtypecolumn %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bar_a_ongle.price %>
</p>

<p>
  <strong>Length:</strong>
  <%= @bar_a_ongle.length %>
</p>

<%= link_to 'Edit', edit_bar_a_ongle_path(@bar_a_ongle) %> |
<%= link_to 'Back', bar_a_ongles_path %>
