<div class="card-header  bg-transparent border-success"><h3>Mettre à jour la photo de profil</h3><span onclick="off(event);return false;" class="close">&times;</span></div>

<%= form_with(model: image, url: myphotonow_path(image.id), data: {imageid: image.id}, html: { class: " card-body d-flex align-items-center myphotos"}) do |g| %>
<p class=" card-text">

      <%=g.label :myname, "Download my photo"%>
      <%=g.file_field :myname, class: "mycontent"%>
      <%=g.text_area :description, class: "mycontent"%>
</p></br>
<p class="card-text bg-transparent border-success">

</p></br>
<p class="card-text bg-transparent border-success">

      <a class="dropdown-item" data-myphotoid="<%=image.id%>" onclick="myphotonow(event);return false;" href="">Download my photo</a>
</p>
    
    <%end%>
      
    
