<!DOCTYPE html>
<html>
  <head>
    <title>Beauty V.I.P</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="<%=asset_path "image-accueil-vip.jpeg"%>" />

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<style>
body {
  background: linear-gradient( #ff3300,  #ff0066);
  height:100%;
  color:  #ffffff;
}
header {
  text-align:center;
}

.marg1 {
    margin-left: 30px;
}
.afficheimage {
  width:200px;
  height:200px;
}
.imagesdeck {
  text-align:center;
}
nav {
  background-color:#e8e8e8;
}
.logo {
  height:50px;
}
.nav-link {

}
.linkvip {
            font-size: 50px;
              text-shadow:
     3px  3px 0 #fe042f,
    -1px -1px 0 #fe042f,
     1px -1px 0 #fe042f,
    -1px  1px 0 #fe042f,
     1px  1px 0 #fe042f;
              color: #ffffff;
              padding:30px;

}
.linkvip:hover {
  color:#FFFFFF;
}
</style>


  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%=image_tag "logo.jpg", class: "logo"%></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class=" active linkvip" href="/infos">Prestations</a>
        </li>
        <li class="nav-item">
          <a class=" linkvip"  href="/photos">Photos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <header>
      <h1>Promo flash !</h1><h2>Verni semi-transparent 14€90</h2>
    </header>
    <%= yield %>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
  </body>

</html>
