<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <title>Dashboard Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">

    

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .mylist {
  list-style-type: none;
}
main, .myzone {
    background: #262626;
    height:100%;
    align-content: center;
        margin-left: auto;
    margin-right: auto;
    width: 8em
}
.mycontainer {
height:100vh;
}
.mynav1 {
  left:0;
  top:0;
  position:absolute;
}
.close {
          filter: invert(0.85);

}
.imagedisplayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
 
<!--    <header class="sticky-top">
          <ul class="navbar mylist navbar-dark bg-light flex-md-nowrap p-0 shadow">
        <li class="navbar-brand col-md-3 col-lg-2 me-0 px-3"><h3>Beauty VIP - Our Posts</h3></li>
          <li class="navbar-brand col-md-3 col-lg-2 me-0 px-3"><a class="nav-link" href="<%=root_path%>">Home Page</a></li>
          <li class="navbar-brand col-md-3 col-lg-2 me-0 px-3"><%=render current_user%></li>
          <li class="navbar-brand col-md-3 col-lg-2 me-0 px-3"><%=link_to me_path, {class: "nav-link"} do%>Ma page<%end%></li>

          <li class="navbar-brand col-md-3 col-lg-2 me-0 px-3"><%=link_to 'Sign out', signout_path, {class: "nav-link"}%></li>
          <li class="navbar-brand col-md-3 col-lg-2 me-0 px-3"><%=notice%></li>

      </ul>
</header>
 -->
 <div class="container-fluid ">

  <div class="row mycontainer">

          

<%=yield%>  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

 <script>
   function goBack() { window.history.back(); }
   </script>
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
  </body>
</html>

